<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center 
    pb-2 mb-3 border-bottom">
    <h1 class="h2">My addresses</h1>
  </div>
  
  <div class="space-around">
    <button type="button" class="btn btn-outline-info" data-toggle="modal" 
      data-target="#address-modal">
      Add new address
    </button>
  </div>

  <%= render "dashboard/contact_addresses/address_modal" %>

  <div class="row space-around float-right">
    <div class="col">
      <button type="button" class="btn btn-info float-right">
        Total address added <span class="badge badge-secondary"><%= @address_count %></span>
      </button>
    </div>  
  </div>

  <% if @address_count == 0 %>
    <div class="">
      <div class="jumbotron jumbotron-fluid space-around">
        <div class="container">
          <h1 class="display-6">No address added yet!</h1>
          <p class="lead">You can add your desired address by clicking on "Add new address" button</p>
        </div>
      </div>
    </div>  
  <% else %>
    <%= render "dashboard/contact_addresses/address_table" %>
  <% end %>
</div>
